/* Floating button */
.calendar-floating-btn {
  position: fixed;
  top: 70px;
  left: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #3498db;
  color: white;
  font-size: 26px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 6px 18px rgba(0,0,0,0.2);
  transition: 0.3s;
  z-index: 9999; /* keep it above everything */
}


.calendar-floating-btn:hover {
  background: #217dbb;
  transform: scale(1.08);
}

/* Popup overlay */
.calendar-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Popup box */
.calendar-popup {
  background: white;
  padding: 25px;
  border-radius: 12px;
  width: 320px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  animation: fadeIn 0.3s ease;
}

.calendar-popup h3 {
  text-align: center;
  margin-bottom: 15px;
  color: #2c3e50;
}

.calendar-popup table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}

.calendar-popup th {
  color: #3498db;
  padding: 5px;
  font-weight: 600;
}

.calendar-popup td {
  text-align: center;
  padding: 6px;
  border-radius: 6px;
}

.calendar-popup td:hover {
  background: #ecf6ff;
}

/* Close Button */
.close-calendar-btn {
  background: #3498db;
  color: white;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.close-calendar-btn:hover {
  background: #217dbb;
}

/* Fade animation */
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}
